version: '{build}'
image: Visual Studio 2019
branches:
  only:
  - /^(develop|master|[rR]eleases?[/-]|[hH]ot[fF]ix(es)?[/-])/
install:
  - choco install gitversion.portable -pre -y
build_script:
  - ps: .\build.ps1
test: off
artifacts:
  - path: .\artifacts\**\*.nupkg
    name: NuGet

deploy:
  - provider: NuGet
    server: https://www.myget.org/F/dsframeworkcore/api/v2/package
    api_key:
      secure: QqK2GQggQ/YGZf6MRpv9RvWDHWLvvuyDaAbHgu4MmGExkYYrH87wa+DYykkNtQ/+
    skip_symbols: true
    on:
      branch: /^(develop|master|[rR]eleases?[/-]|[hH]ot[fF]ix(es)?[/-])/
  - provider: NuGet
    name: production
    api_key:
      secure: Ma814zQZV6+GMnr23p8oKaIM7tpEWxv+aZwFk1pSarN2GoBP2oiGKoJlY+nwnL7/
    on:
      branch: /^(develop|master|[rR]eleases?[/-]|[hH]ot[fF]ix(es)?[/-])/
      appveyor_repo_tag: false
