version: '{build}'
image: Visual Studio 2019
branches:
  only:
  - master
  - develop
build_script:
- ps: .\build.ps1
test: off
artifacts:
- path: .\artifacts\**\*.nupkg
  name: NuGet

deploy:
- provider: NuGet
  server: https://www.myget.org/F/dsframeworkcore/api/v2/package
  api_key:
    secure: QqK2GQggQ/YGZf6MRpv9RvWDHWLvvuyDaAbHgu4MmGExkYYrH87wa+DYykkNtQ/+
  skip_symbols: true
  on:
    branch: /^(develop|master)$/
- provider: NuGet
  name: production
  api_key:
    secure: W1UO5jT2Edf51ksveER7O1Sc3eskFyH9MEbELXZQlUVVxdEUTGKyQ8pyINwWK7Tw
  on:
    branch: master
    appveyor_repo_tag: true
